<?xml version="1.0" encoding="utf-8" standalone="yes"?><!-- sparkle-sign-warning:
IMPORTANT: This file was signed by Sparkle. Any modifications to this file requires re-signing this file with generate_appcast or sign_update! The signed signature will be embedded at the end of this file.
--><rss xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle" version="2.0">
  <channel>
    <title>Screener Server Updates</title>
    <link>https://github.com/acousland/Screener</link>
    <description>Updates for Screener Server on Apple silicon Macs.</description>
    <item>
      <title>Screener Server 0.1.3</title>
      <pubDate>Fri, 09 Oct 2026 04:07:21 GMT</pubDate>
      <sparkle:version>1791518794</sparkle:version>
      <sparkle:shortVersionString>0.1.3</sparkle:shortVersionString>
      <sparkle:minimumSystemVersion>15.0</sparkle:minimumSystemVersion>
      <description>4K remote desktop with macOS HiDPI scaling. See the GitHub release for details.</description>
      <enclosure url="https://github.com/acousland/Screener/releases/download/v0.1.3/Screener-Server-0.1.3.zip" length="2285578" type="application/octet-stream" sparkle:edSignature="rhm1PzmsjpeEnrLXnw2jGNRV/L4GhGy9ve2mwT39VKrE0XDzrIx8RtSzx9u3CNDF41NFCvhnKuJ62zGdPrGsBQ=="></enclosure>
    </item>
  </channel>
</rss><!-- sparkle-signatures:
edSignature: EBqLqZc6rC4nQmocaTGfEXVyuU+yj57jW3KJzd0wgcSq5A+xFcPG1TdrkP+UZaGgCBrMiHYPf5yNddHTR+G+Dw==
length: 1302
-->
